<div class="container">
    <div class="hero is-init is-animated" data-animation="fade-left">
        <h1 class="name">
            <strong>{{ site.last_name }}</strong>
            {{ site.first_name }}
        </h1>
        <br/>
        <button id="open-modal-btn" style="margin-top:30px;">Contact Info</button>
        <div class="modal">
            <div class="hero-modal" style="margin:10%;">
                {% if site.theme_settings.email_address %}
                <span class="Email">
                    Email | 
                    <a href="mailto:{{ site.theme_settings.email_address }}">{{ site.theme_settings.email_address }}</a>
                </span>
                {% endif %}
                {% if site.phone %}
                <span class="phone">
                    Phone | 
                    <a href="tel:{{ site.phone }}">{{ site.phone }}</a>
                </span>
                {% endif %}
                {% if site.website %}
                <span class="Websit">
                    Website | 
                    <a href="{{ site.website }}">{{ site.website }}</a>
                </span>
                {% endif %}
                {% if site.url %}
                <span class="Blog">
                    Blog |
                    <a href="{{ site.url }}">{{ site.blog }}</a>
                </span>
                {% endif %}
                {% if site.theme_settings.github %}
                <span class="Github">
                    GitHub |
                    <a href="https://github.com/{{ site.theme_settings.github }}">@{{ site.theme_settings.github }}</a>
                </span>
                {% endif %}
            </div>
            <button id="close-modal-btn">Close</button>
        </div>
        <h2 class="lead">
            Hello World!!
        </h2>
    </div>
    <div role="presentation" id="continue">
        <a role="button" id="continueButton" href="#introduction" data-animation="fade-in" data-animation-duration="500" data-animation-delay="2000" data-animation-offset="0">Continue</a>
    </div>

    
</div>