<div class="container">
    <div class="hero is-init is-animated" data-animation="fade-left">
        <h1 class="name">
            <strong>{{ site.last_name }}</strong>
            {{ site.first_name }}
        </h1>
        <br/>
        <button id="open-modal-btn" style="margin-top:30px;">Contact Info</button>
        <div class="modal">
            <div class="hero-modal" style="margin:10%;">
                {% if site.theme_settings.email_address %}
                <span class="Email">
                    Email | 
                    <a href="mailto:{{ site.theme_settings.email_address }}">{{ site.theme_settings.email_address }}</a>
                </span>
                {% endif %}
                {% if site.phone %}
                <span class="phone">
                    Phone | 
                    <a href="tel:{{ site.phone }}">{{ site.phone }}</a>
                </span>
                {% endif %}
                {% if site.website %}
                <span class="Websit">
                    Website | 
                    <a href="{{ site.website }}">{{ site.website }}</a>
                </span>
                {% endif %}
                {% if site.url %}
                <span class="Blog">
                    Blog |
                    <a href="{{ site.url }}">{{ site.blog }}</a>
                </span>
                {% endif %}
                {% if site.theme_settings.github %}
                <span class="Github">
                    GitHub |
                    <a href="https://github.com/{{ site.theme_settings.github }}">@{{ site.theme_settings.github }}</a>
                </span>
                {% endif %}
            </div>
            <button id="close-modal-btn">Close</button>
        </div>
        <h2 class="lead">
            Hello World!!
        </h2>
    </div>

    <div role="presentation" id="continue">
        <a role="button" id="continueButton" href="#introduction" data-animation="fade-in" data-animation-duration="500" data-animation-delay="2000" data-animation-offset="0">Continue</a>
    </div>
<!-- 자기소개 -->
    <div id="introduction" class="l-section l-split">

        <!-- 소개말 -->
        <section role="region" id="myself" class="l-section">
            <div class="l-section-inner" data-animation="zoom-in-right">
                <h2 class="section-heading">
                    <span class="secondary">Intro</span>
                    <span class="primary">About myself</span>
                </h2>

                <div class="section-content">
                    <p> Hello World !! </p>
                </div>
            </div>
        </section>
        
        <!-- 기술 -->
        <section role="region" id="skills" class="l-section">
            <div class="l-section-inner" data-animation="zoom-in-left">
                <h2 class="section-heading">
                    <span class="secondary">Skills</span>
                    <span class="primary">What I can do</span>
                </h2>

                <div class="section-content">
                    <figure>
                        <figcaption class="list-caption">Skill</figcaption>
                        <ul class="skill-list checked-list">
                            <li>Skill detail - 1</li>
                            <li>Skill detail - 2</li>
                            <li>Skill detail - 3</li>
                        </ul>
                    </figure>

                    <figure>
                        <figcaption class="list-caption">Skill</figcaption>
                        <ul class="skill-list checked-list">
                            <li>Skill detail - 1</li>
                            <li>Skill detail - 2</li>
                            <li>Skill detail - 3</li>
                        </ul>
                    </figure>

                    <figure>
                        <figcaption class="list-caption">Skill</figcaption>
                        <ul class="skill-list checked-list">
                            <li>Skill detail - 1</li>
                            <li>Skill detail - 2</li>
                            <li>Skill detail - 3</li>
                        </ul>
                    </figure>
                </div>
            </div>
        </section>

    </div>
</div>